<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>OnlineExaminationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>duser</param-name>
  <param-value>system</param-value>
  </context-param>
  <context-param>
  <param-name>dpass</param-name>
  <param-value>subham24</param-value>
  </context-param>
  <context-param>
  <param-name>cpath</param-name>
  <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
  <param-name>connect</param-name>
  <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
   <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
</web-app>